@font-face {
  font-family: OpenSans;
  src: url("/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: OpenSansBold;
  src: url("/fonts/OpenSans-Bold.ttf");
}

html,
body,
#root,
.container {
  height: 100%;
}

body {
  --body-background-img: url("/img/body_background.jpg");


  --table-pane-background: white;
  --table-pane-scroll-border-color: white;
  --safe-pane-background: rgba(27, 27, 38, 0.86);
  --safe-pane-scroll-border-color: rgba(27, 27, 38, 0.86);
  --body-color: rgb(27, 27, 38);
  --tr-hover-background: rgb(248, 248, 251);
  --tr-border-bottom-color: #e6e6f0;
  --link-color: #009a50;
  --login-item-link-color: #007b40;

  --modal-background: white;
  --edit-item-modal-field: white;
  --edit-item-note-modal-field: white;

  --edit-item-modal-field-border: rgba(27, 27, 38, 0.2);
  --edit-item-modal-field-border-hover: rgba(27, 27, 38, 0.7);
  --btn-outline-secondary: rgba(27, 27, 38, 0.2);
  --btn-outline-secondary-hover: rgba(27, 27, 38, 0.7);

  --item-modal-field-background: rgba(230, 230, 240, 0.3);
  --item-modal-field-hover: rgba(0, 188, 98, .1);
  --pmodal-body-background: white;
  --account-menu-item-hover: #f8f8fb;

  --download-and-view-border: rgba(27, 27, 38, 0.3);
  /* check */
  --account-block-border: rgba(27, 27, 38, 0.3);

  --contexify-activeItem-bgColor: rgba(27, 27, 38, 1);

  --icon-stroke: #1B1B26;
  --icon-fill: #1B1B26;
}

body.theme-dark2 {

  --body-color: white;
  --body-mask-background: rgba(27, 27, 38, 0.6);


  --safe-pane-background: rgba(27, 27, 38, 1);
  --safe-pane-scroll-border-color: rgba(27, 27, 38, 1);

  --table-pane-background: #262631;
  --table-pane-scroll-border-color: #262631;
  --table-pane-color: white;
  --link-color: #00BC62;

  --table-pane-border-color: #474750;
  /* --table-pane-hover: #474750; */
  --table-pane-hover: rgba(255, 255, 255, 0.05);
  --table-pane-scroll-border-color: #262631;



  --modal-background: rgb(27, 27, 38);
  --modal-shadow: -4px -4px 0px 0px #00DDC140 inset;


  --item-modal-field-background1: rgba(27, 27, 38, 0.3);
  --item-modal-field-background: transparent;

  --item-modal-field-hover: rgba(255, 255, 255, 0.1);

  --edit-item-modal-field-border: rgba(255, 255, 255, 0.2);
  --edit-item-modal-field-border-hover: rgba(255, 255, 255, 0.7);
  --btn-outline-secondary: rgba(255, 255, 255, 0.2);
  --btn-outline-secondary-hover: rgba(255, 255, 255, 0.7);


  --pmodal-body-background: rgb(27, 27, 38);



  --account-menu-item-hover: black;


  --edit-item-modal-field: rgb(27, 27, 38);
  --edit-item-note-modal-field: rgb(27, 27, 38);


  --item-modal-field-label: white;

  --download-and-view-border: rgba(255, 255, 255, 0.7);
  --account-block-border: rgba(255, 255, 255, 0.7);

  --contexify-menu-bgColor: #000;
  --contexify-item-color: rgba(255, 255, 255, 0.7);
  --contexify-activeItem-color: #fff;
  --contexify-activeItem-bgColor: rgba(255, 255, 255, 0.2);


  --tr-hover-background: rgba(255, 255, 255, 0.15);

  --icon-stroke: white;
  --icon-fill: white;

}

body.theme-dark5 {

  --body-color: white;

  --body-mask-background: rgba(27, 27, 38, 0.6);


  --safe-pane-background: rgba(27, 27, 38, 1);
  --safe-pane-scroll-border-color: rgba(27, 27, 38, 1);



  --table-pane-background: rgba(27, 27, 38, 0.75);
  --link-color: #00BC62;

  --table-pane-scroll-border-color: #262631;

  --table-pane-color: white;

  --table-pane-border-color: #474750;
  /* --table-pane-hover: #474750; */
  --table-pane-hover: rgba(255, 255, 255, 0.05);
  --table-pane-scroll-border-color: #262631;



  --modal-background: rgb(27, 27, 38);
  --modal-shadow: -4px -4px 0px 0px #00DDC140 inset;

  --edit-item-modal-field-border: rgba(255, 255, 255, 0.2);
  --edit-item-modal-field-border-hover: rgba(255, 255, 255, 0.7);
  --btn-outline-secondary: rgba(255, 255, 255, 0.2);
  --btn-outline-secondary-hover: rgba(255, 255, 255, 0.7);


  --pmodal-body-background: rgb(27, 27, 38);



  --account-menu-item-hover: black;


  --edit-item-modal-field: rgb(27, 27, 38);
  --edit-item-note-modal-field: rgb(27, 27, 38);


  --item-modal-field-background1: rgba(27, 27, 38, 0.3);
  --item-modal-field-background2: rgba(255, 255, 255, 0.05);

  --item-modal-field-background: transparent;
  --item-modal-field-hover: rgba(255, 255, 255, 0.1);

  --item-modal-field-label: white;

  --download-and-view-border: rgba(255, 255, 255, 0.7);
  --account-block-border: rgba(255, 255, 255, 0.7);

  --contexify-menu-bgColor: #000;
  --contexify-item-color: rgba(255, 255, 255, 0.7);
  --contexify-activeItem-color: #fff;
  --contexify-activeItem-bgColor: rgba(255, 255, 255, 0.2);


  --tr-hover-background: rgba(255, 255, 255, 0.15);

  --icon-stroke: white;
  --icon-fill: white;

}

body.theme-darkgreen {

  --body-color: white;
  --body-background-img: url("/img/body_background.jpg"), lightgray 50% / cover no-repeat;

  --body-mask-background: #00BC62;
  --body-mask-mix-blend-mode: color-burn;

  --safe-pane-background: rgba(27, 27, 38, 1);
  --safe-pane-scroll-border-color: rgba(27, 27, 38, 1);



  --table-pane-background: rgba(27, 27, 38, 0.9);
  --link-color: #00BC62;

  --table-pane-scroll-border-color: #262631;

  --table-pane-color: white;

  --table-pane-border-color: #474750;
  /* --table-pane-hover: #474750; */
  --table-pane-hover: rgba(255, 255, 255, 0.05);
  --table-pane-scroll-border-color: #262631;

  --modal-background: rgb(27, 27, 38);
  --modal-shadow: -4px -4px 0px 0px #00DDC140 inset;
  --edit-item-modal-field: rgb(27, 27, 38);
  --edit-item-note-modal-field: rgb(27, 27, 38);

  --edit-item-modal-field-border: rgba(255, 255, 255, 0.2);
  --edit-item-modal-field-border-hover: rgba(255, 255, 255, 0.7);
  --btn-outline-secondary: rgba(255, 255, 255, 0.2);
  --btn-outline-secondary-hover: rgba(255, 255, 255, 0.7);

  --pmodal-body-background: rgb(27, 27, 38);
  --account-menu-item-hover: black;




  --item-modal-field-background1: rgba(27, 27, 38, 0.3);
  --item-modal-field-background: transparent;

  --item-modal-field-hover: rgba(255, 255, 255, 0.1);

  --item-modal-field-label: white;

  --download-and-view-border: rgba(255, 255, 255, 0.7);
  --account-block-border: rgba(255, 255, 255, 0.7);

  --contexify-menu-bgColor: #000;
  --contexify-item-color: rgba(255, 255, 255, 0.7);
  --contexify-activeItem-color: #fff;
  --contexify-activeItem-bgColor: rgba(255, 255, 255, 0.2);


  --tr-hover-background: rgba(255, 255, 255, 0.15);

  --icon-stroke: white;
  --icon-fill: white;
}

body.theme-darkgreen2 {

  --body-color: white;
  --body-background-img: url("/img/body_background.jpg"), lightgray 50% / cover no-repeat;

  --body-mask-background: #00BC62;
  --body-mask-mix-blend-mode: color-burn;

  --safe-pane-background: rgba(27, 27, 38, 1);
  --safe-pane-scroll-border-color: rgba(27, 27, 38, 1);



  --table-pane-background: rgba(27, 27, 38, 0.9);
  --link-color: #00BC62;

  --table-pane-scroll-border-color: #262631;

  --table-pane-color: white;

  --table-pane-border-color: #474750;
  /* --table-pane-hover: #474750; */
  --table-pane-hover: rgba(255, 255, 255, 0.05);
  --table-pane-scroll-border-color: #262631;



  --modal-shadow: -4px -4px 0px 0px #00DDC140 inset;
  --modal-background: #00ddc1;

  --edit-item-modal-field: #00ddc1;
  --edit-item-note-modal-field: #00ddc1;

  --edit-item-modal-field-border: rgba(255, 255, 255, 0.2);
  --edit-item-modal-field-border-hover: rgba(255, 255, 255, 0.7);


  --pmodal-body-background: rgb(27, 27, 38);



  --account-menu-item-hover: black;




  --item-modal-field-label: white;

  --download-and-view-border: rgba(255, 255, 255, 0.7);
  --account-block-border: rgba(255, 255, 255, 0.7);

  --contexify-menu-bgColor: #000;
  --contexify-item-color: rgba(255, 255, 255, 0.7);
  --contexify-activeItem-color: #fff;
  --contexify-activeItem-bgColor: rgba(255, 255, 255, 0.2);


  --tr-hover-background: rgba(255, 255, 255, 0.15);

  --icon-stroke: white;
  --icon-fill: white;

}


body {
  margin: 0;
  background: var(--body-background-img);
  background-size: cover;
  background-position: center;
  color: var(--body-color);
}

.body-mask {
  height: 100%;
  width: 100%;
  position: absolute;
  background: var(--body-mask-background);
  mix-blend-mode: var(--body-mask-mix-blend-mode);
  z-index: -10;
}

.modal-content {
  background-color: var(--modal-background);
  box-shadow: var(--modal-shadow);


  border: 1px solid #00DDC140;


  /*  filter: blur(1px); */
  /*  background-color: green; */
}



*::placeholder {
  color: var(--body-color);
  opacity: 0.7;
}

/*
input::placeholder {
  color: var(--body-color);
  opacity: 0.7;
}

textarea::placeholder {
  color: var(--body-color);
  opacity: 0.7;
}


input.modalTitle::placeholder {
  color: var(--body-color);
  opacity: 0.7;
}
*/


input::-ms-reveal,
input::-ms-clear {
  display: none;
}

* {
  font-family: OpenSans;
}



.top_icon {
  stroke: white;
  vertical-align: middle;
  margin: 0 15px;
}

.item_icon {
  stroke: #2277e6;
  opacity: 0.5;
  vertical-align: middle;
}

.search_string {
  padding: 0 30px 0 40px;
  /*   height: 40px; */
  height: 48px;
  border: none;
  padding-right: 2.2em;
}

@media (min-width: 576px) {
  .search_string {
    border-radius: 12px;
  }
}

.search_string:active {
  border: none;
  outline: none;
}

.search_string:focus {
  border: none;
  outline: none;
}

.search_clear {
  margin-left: -1.3em;
  cursor: pointer;
}

#fake_username,
#fake_password {
  border: none;
  width: 0;
  padding: 0;
}

.caret-off::after {
  display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

/*
.iam_table_scroll_control {
  max-height: calc(100vh - 280px);
  overflow-y: visible;
  overflow-x: hidden;
}
*/

/*
.iam_table tbody{
  display:block;
  overflow:auto;
  height:200px;
  width:100%;
}


.iam_table thead tr{
  display:block;
}
*/

.iam_table tbody tr {
  border-bottom: 1px solid var(--table-pane-border-color);
  height: 48px;
}

.iam_table tbody tr:hover {
  background: var(--table-pane-hover);
}

.user_status_selector {
  cursor: pointer;
  text-decoration: underline;
}

.phub-dialog {
  box-shadow: 0 20px 50px 0px rgba(0, 90, 187, 0.5);
  border-radius: 5px;
  padding: 0;
  margin: 0 auto;
}

h1 {
  font-weight: 400;
  font-size: 28px;
}

.item_table {
  border: none;
  table-layout: fixed;
}

.item_table th {
  /*font-family: Open Sans; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

  color: var(--body-color);
  opacity: 0.7;
  padding-right: 0.75em;
  border: none;
}

.item_table td {
  border: none;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
}

@media (min-width: 576px) {
  .item_table td {
    padding-right: 0.75em;
  }
}

.item_table tr+td {
  cursor: pointer;
}

.item_table tbody tr {
  border-bottom: 1px solid var(--table-pane-border-color);
  min-height: 48px;
}

.search-mode td {
  height: 60px;
}

@media (min-width: 576px) {
  .item_table tbody tr {
    /*    min-height: 46px; */
    min-height: 48px;
  }
}

.item_table tbody tr:hover {
  background: var(--table-pane-hover);
}

.item_table .rightAlign {
  text-align: right;
}

.item_table .column-modified {
  text-align: right;
  padding-right: 1em;
}

.item_table .login-item-link {
  color: var(--link-color);
}

.item_table .login-item-link:hover {
  text-decoration: underline;
}

.itemIcon {
  stroke: #808080;
  margin-right: 12px;
}

.itemModalNav {
  display: flex;
  padding-top: 0;
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  .itemModalNav {
    justify-content: space-between;
    padding-top: 18px;
  }
}

.itemModalNav svg {
  cursor: pointer;
}

.itemModalEditButton {
  display: inline-block;
  margin-left: 10px;
  border: 1px solid #00bc62;
  /* border: 1px solid rgba(0, 188, 98, 0.3); */
  color: var(--link-color);
  border-radius: 12px;
  font-size: 16px;
  line-height: 24px;
  padding: 7px 18px 1px 20px;
  cursor: pointer;
  height: 38px;
}

.itemModalPath {
  font-size: 14px;
  line-height: 22px;
  color: var(--link-color);
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
}

.path-element {
  display: inline;
  color: var(--link-color);
  cursor: pointer;
}

.path-element:hover {
  text-decoration: underline;
}

.modalTitle {
  padding: 32px 0 0 0;
  display: flex;
  margin-bottom: 7px;
  align-items: flex-end;
}

.itemModalTitle {
  padding: 0;
  display: flex;
  margin-bottom: 7px;
  align-items: flex-end;
}

.itemModalTools {
  flex-shrink: 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: baseline;
}

.edit.itemModalTools {
  justify-content: flex-end;
}

@media (min-width: 576px) {
  .itemModalTools {
    display: block;
    width: auto;
  }
}

.h2 {
  font-family: OpenSans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
input.h2::placeholder {
  color: var(--body-color);
  opacity: 0.7;
}
*/


@media (min-width: 576px) {
  .h2 {
    font-size: 36px;
    line-height: 48px;
  }
}

input.ModalTitle {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #dee2e6;
  border-radius: 0;
  height: auto;
  color: var(--body-color);
  background: var(--modal-background);
  outline: 0;
}

.form-control::placeholder {
  opacity: 0.7;
  color: var(--body-color);
}


/*
input.ModalTitle::placeholder {
  color: #babbc2;
}
*/

input.ModalTitle:focus {
  border-bottom: 1px solid #dee2e6;
  box-shadow: none;
  color: var(--body-color);
  background: var(--modal-background);
}

.itemModalField {
  background: var(--item-modal-field-background);
  border-radius: 16px;
  border: 1px solid var(--edit-item-modal-field-border);

  padding: 8px 9px 8px 20px;
  overflow: hidden;
}

.itemNoteModalField {
  background: var(--item-modal-field-background);
  border-radius: 16px;
  border: 1px solid var(--edit-item-modal-field-border);
  padding: 8px 9px 8px 20px;
}

.itemModalField:hover {
  background-color: var(--item-modal-field-hover);
  border: 1px solid var(--edit-item-modal-field-border-hover);
}

.itemNoteModalField:hover {
  background-color: var(--item-modal-field-hover);
  border: 1px solid var(--edit-item-modal-field-border-hover);
}

.itemModalField.upper {
  border-radius: 16px 16px 0 0;
  border-bottom: 1px solid var(--edit-item-modal-field-border);
}

.itemModalField.lower {
  border-radius: 0 0 16px 16px;
  border-top: 1px solid var(--edit-item-modal-field-border);
}

.edit .itemModalField {
  /*background: white;*/
  /*  border: 1px solid #e7e7ee; */
  border: 1px solid var(--edit-item-modal-field-border);

}

.edit .itemModalField:hover {
  border: 1px solid var(--edit-item-modal-field-border-hover);
}

.itemModalField label {
  font-size: 14px;
  line-height: 22px;
  color: var(--item-modal-field-label);
  opacity: 0.7;
}

.itemModalField input {
  background: transparent;
  font-size: 18px;
  line-height: 24px;
  border: none;
  outline: none;
  color: var(--body-color);
  width: 100%;
}

.itemModalField input:focus {
  border: none;
}

.itemModalField input:active {
  border: none;
}

.itemModalField input.lp {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.itemModalField .copied {
  display: none;
  width: 100%;
  height: 100%;
  background: #b3ebd0;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  color: var(--link-color);
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.itemModalField .copied div {
  margin: 0 auto;
}

.itemModalField .url-span {
  color: var(--body-color);
  cursor: pointer;
}

.itemModalField .url-span:hover {
  text-decoration: underline;
}

.totp_circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;

  /*  background: conic-gradient(#c4c4c4 25%, #e7e7ee 0%); */
  background: conic-gradient(rgba(27, 27, 38, 0.235) 1%,
      rgba(27, 27, 38, 0.1) 0%);

  margin-right: 24px;
}

.totp_digits {
  font-size: 24px;
  color: var(--body-color);
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*
.itemModalField.lower.weakPassword {
  background: rgba(235, 101, 0, 0.1);
}
*/

.itemModalField .iconTitle {
  color: var(--link-color);
  opacity: 0;
  margin-right: 10px;
  font-size: 14px;
  line-height: 22px;
}

.itemModalPlusField {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;

  /* identical to box height, or 150% */

  /* Green/70 */
  color: var(--link-color);
  margin-bottom: 32px;
}

.itemModalField svg {
  stroke: var(--body-color);
  opacity: 0.5;
}

.itemModalField:hover svg {
  stroke: #00bc62;
  opacity: 1;
}

.itemModalField:hover .iconTitle {
  opacity: 1;
}


.itemNoteModalField .label {
  font-size: 14px;
  color: var(--body-color);
  opacity: 0.7;
}

.edit .itemModalField {
  background-color: var(--edit-item-modal-field);
}


.edit .itemNoteModalField {
  background-color: var(--edit-item-note-modal-field);
  border-radius: 16px;
  border: 1px solid var(--edit-item-modal-field-border);
}

.edit .itemNoteModalField:hover {
  border: 1px solid var(--edit-item-modal-field-border-hover);
}

.edit .itemNoteModalField textarea {
  background-color: var(--edit-item-note-modal-field);
  color: var(--body-color);
}



.itemViewIcon {
  margin: 0 10px;
  opacity: 0.5;
}

.itemViewIcon:hover {
  opacity: 1;
}

.itemViewIcon svg {
  vertical-align: unset;
}

.safe-name-title {
  margin-top: 32px;
}

/* ---- shareModal ----*/

.roleChanger {
  display: inline-block;
  /*
  border: 1px solid #00bc62;
  border-radius: 12px;
  padding: 7px 0 9px;
*/
  color: #007b40;
  font-size: 16px;
  line-height: 24px;
  text-align: end;
  cursor: pointer;
  width: 8em;
}

/* -------------------- */

.react-contexify__item:not(.react-contexify__item--disabled):hover>.react-contexify__item__content,
.react-contexify__item:not(.react-contexify__item--disabled):focus>.react-contexify__item__content {
  color: white;
  background: rgba(27, 27, 38, 0.86);
}

.edit .react-contexify__item:not(.react-contexify__item--disabled):hover>.react-contexify__item__content,
.edit .react-contexify__item:not(.react-contexify__item--disabled):focus>.react-contexify__item__content {
  color: black;
  background: #f4f4f7;
}

/*
@media (max-width: 576px) {
  .react-contexify {
    background: rgba(27, 27, 38);
  }
  .react-contexify__item {
    height: 48px;
    background: rgba(27, 27, 38);
  }
  .react-contexify__item:not(.react-contexify__item--disabled)
    > .react-contexify__item__content {
    color: white;
    background: rgba(27, 27, 38);
  }

  .react-contexify__item.react-contexify__item--disabled
    > .react-contexify__item__content {
    color: lightgrey;
    background: rgba(27, 27, 38);
  }
}
*/
/*----------------------*/

.mainRow {
  flex-grow: 1;
  overflow: hidden;
  height: 100%;
}

.safe_pane {
  background: var(--safe-pane-background);
  color: white;
  height: 100%;
  /* safari 13.1*/
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}

@media (min-width: 576px) {
  .safe_pane {
    border-radius: 16px 0 0 16px;
  }
}

.safe_scroll_control {
  overflow-y: auto;
}

.safe_pane_icon {
  stroke: white;
  opacity: 0.7;
  vertical-align: middle;
  margin-right: 10px;
}

.folder,
.folders-header {
  color: white;
  opacity: 0.7;
  line-height: 24px;
}

@media (min-width: 576px) {

  .folder,
  .folders-header {
    opacity: 0.5;
  }
}

.folders-header {
  font-size: 14px;
  /* margin: 17px 0 6px 0; */
  letter-spacing: 0.16em;
  cursor: default;
  padding: 0 0 7px 24px;
}

.folder {
  font-size: 16px;
  line-height: 20px;
  /*padding: 7px 0 7px 24px;*/
  padding: 12px 0 12px 24px;
}

.folder:hover {
  background: rgba(255, 255, 255, 0.1);
  opacity: 0.7;
}

.folder.active_folder,
.folder.active_folder:hover {
  background: rgba(255, 255, 255, 0.15);
  opacity: 1;
}

.menu-dots {
  cursor: pointer;
  /* position: absolute; 
  top: 7px;
  right: 0;
  */
}

.add_safe {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  color: white;
  opacity: 0.7;
  font-size: 16px;
  line-height: 24px;
  padding: 7px 0;
  margin: 16px 20px;
  text-align: center;
  cursor: pointer;
}


@media (min-width: 576px) {
  .add_safe {
    opacity: 0.6;
  }
}


.add_safe:hover {
  opacity: 1;
}

.add_button {
  background: linear-gradient(282.86deg, #00ba97 8.08%, #00bc62 68.47%);
  box-shadow: 0px 3px 7px rgba(1, 189, 98, 0.16),
    0px 4px 18px rgba(0, 255, 153, 0.5);
  border-radius: 14px;
}

#table_pane {

  /*  background: rgba(255, 255, 255, 1); */
  background: var(--table-pane-background);
  color: var(--table-pane-color);
  padding: 24px 0 16px 16px;
  height: 100%;
  /* safari 13.1 */
  flex-direction: column;
  position: relative;
}

@media (min-width: 576px) {
  #table_pane {
    border-radius: 0 16px 16px 0;
  }
}

.error {
  color: #b40020;
}

.green70 {
  color: var(--link-color);
}

.colored {
  color: #00bc62;
}

.dark50 {
  color: #8d8d94;
}

.dark100 {
  color: var(--body-color);
}

.mb24 {
  margin-bottom: 24px;
}

.mb32 {
  margin-bottom: 32px;
}

/* standard bootstrap elements */

.btn-primary {
  min-width: 126px;
  padding: 12px;
  border: none;
  background: linear-gradient(264.92deg, #00ba97 4.82%, #00bc62 73.44%);
  border-radius: 12px;
  margin: 0 0 0 12px;
}

@media (min-width: 576px) {
  .btn-primary {
    min-width: 146px;
  }
}

.btn-primary:hover {
  background: linear-gradient(264.92deg, #00bc62 4.82%, #00ba97 73.44%);
}

.btn-primary:focus {
  box-shadow: none;
}

.btn-primary:active {
  background: var(--body-color);
  opacity: 0.08;
  box-shadow: none;
}

.btn-danger {
  min-width: 126px;
  padding: 12px;
  border: none;
  /* background: linear-gradient(264.92deg, #b40020 4.82%, #eb1b00 73.44%); */
  background: linear-gradient(279.87deg, #bf0000 7.41%, #eb3600 92.59%);
  border-radius: 12px;
  margin: 0 0 0 12px;
}

.btn-danger:hover {
  /* background: linear-gradient(264.92deg, #eb1b00 4.82%, #b40020 73.44%); */
  background: linear-gradient(264.92deg, #a60000 4.82%, #bf0000 73.44%);
}

@media (min-width: 576px) {
  .btn-danger {
    min-width: 146px;
  }
}

.btn-danger:focus {
  box-shadow: none;
}

.btn-danger:active {
  background: var(--body-color);
  opacity: 0.08;
  box-shadow: none;
}

.btn-outline-secondary {
  min-width: 126px;
  padding: 12px;
  margin: 0;
  color: var(--body-color);
  border: 1px solid var(--btn-outline-secondary);
  box-sizing: border-box;
  border-radius: 12px;
}

.btn-outline-danger {
  min-width: 126px;
  padding: 12px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 12px;
}


@media (min-width: 576px) {
  .btn-danger {
    min-width: 146px;
  }
}

.btn-outline-secondary:hover {
  color: var(--body-color);
  background: none;
  border: 1px solid var(--btn-outline-secondary-hover);
}

.btn-outline-secondary:active {
  color: var(--body-color);
  background: none;
  border: 1px solid var(--btn-outline-secondary-hover);
}

.z-index-2050 {
  z-index: 2050;
}

.z-index-2040 {
  z-index: 2040;
}

@media (max-width: 575px) {
  .modal-dialog {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    min-width: 680px;
  }
}

.modal-content {
  padding: 0 1rem 1rem 1rem;
}

@media (min-width: 576px) {
  .modal-content {
    padding: 0 72px;
  }
}

.modal-cross {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 400;
  position: absolute;
  right: 0;
  top: 16px;
  margin-right: 20px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .modal-cross {
    margin-right: -50px;
    color: white;
    top: 0;
  }
}

.img-view,
.item-pane {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 16px 16px 0 0;
  padding: 0 1rem;
}

@media (min-width: 576px) {

  .img-view,
  .item-pane {
    padding: 0 72px;
    border-radius: 16px;
  }
}

.item-pane.edit {
  height: 100%;
}

.item-pane-scrollable {
  margin: 32px 0;
  overflow-y: auto;
}

@media (min-width: 576px) {
  .item-pane-scrollable {
    padding-right: 15px;
    margin-right: -30px;
  }
}

.img-frame {
  display: flex;
  align-items: center;
  background: white;
  flex-grow: 1;
}

.modal-dialog .modal-content {
  border-radius: 16px;
}

.modal-header {
  border: none;
  padding: 0;
  margin: 32px 0 0 0;
}

.modal-header .close {
  padding: 0;
  margin-top: 20px;
}

.modal-body {
  padding: 0;
  margin: 32px 0;
}

.modal-footer {
  border: none;
  padding: 0;
  margin: 0 0 32px 0;
}

.modal-body .form-group {
  /* Dark */
  border: 1px solid var(--body-color);
  border-radius: 16px;
  margin: 0;
  padding: 11px 20px;
}

.modal-body .form-group label {
  opacity: 0.7;
  margin: 0;
}

.modal-body .form-group input.form-control {
  border: none;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  height: auto;
}

.modal-body .form-group input.form-control:focus {
  border: none;
  box-shadow: none;
}

.form-label {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;

  /* identical to box height, or 157% */

  /* Dark */
  color: var(--body-color);
  opacity: 0.5;
}

input[type="file"] {
  width: 100%;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.notes {
  border: none;
  border-color: Transparent;
  outline: none;
}

.notes:focus {
  border: none;
  border-color: Transparent;
  outline: none;
}

.notes:active {
  border: none;
  border-color: Transparent;
  outline: none;
}

/*

.download-and-view {
  box-sizing: border-box;

  border: 1px solid var(--download-and-view-border);
  border-radius: 12px;
}

.btn-as-span {
  color: var(--body-color);
  background: none;
  border: none;
  outline: none;
  height: 48px;
  width: 100%;
}

@media (min-width: 576px) {
  .btn-as-span {
    width: 9em;
  }
}

.btn-as-span svg {
  margin-right: 6px;
}

.edit>.view-only {
  display: none;
}

*/

.account-dropdown-button {
  width: 40px;
  height: 40px;
  padding: 7px 0 0 0;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(40px);
  overflow: hidden;
  cursor: pointer;
  flex: none;
}


.pmodal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.pmodal-body {

  border-radius: 12px;
  /*border: 1px solid black; */
  /* margin: 3em auto; */
  position: absolute;

  padding: 24px;
  background: var(--pmodal-body-background);
  box-shadow: 0px 4px 34px rgba(126, 126, 143, 0.28);


}

.pmodal-body.account {
  min-width: 320px;
  top: 65px;
}

.account-menu-item {
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media (min-width: 576px) {
  .account-menu-item {
    height: 40px;
  }
}

.account-menu-item:hover {
  background: var(--account-menu-item-hover);
}

.account-menu-item svg {
  margin-right: 12px;
}

.inactivity-radio-div {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inactivity-radio-div label {
  line-height: 16px;
  margin-bottom: 0;
}

.inactivity-radio-div input {
  margin-right: 8px;
  accent-color: var(--body-color);
}

.inactivity-radio-div input:checked {
  font-weight: bold;
}

.inactivity-radio-div label:has(input:checked) {
  font-weight: bold;
}


/*-----------------------*/

.import-modal-file-field {
  margin-bottom: 12px;
  padding: 11px;
  position: relative;
  border: 1px solid var(--edit-item-modal-field-border);
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end;
}

.import-modal-file-field:hover {
  border: 1px solid var(--edit-item-modal-field-border-hover);
}

.import-modal-file-field .filename {
  margin-bottom: 6px;
  max-width: 330px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.addModalItem {
  height: 48px;
  cursor: pointer;
  background: rgba(27, 27, 38, 0.93);
  color: rgba(255, 255, 255, 0.7);
  line-height: 40px;
}

@media (min-width: 576px) {
  .addModalItem {
    height: 40px;
  }
}

.addModalItem:hover {
  background: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
}

.link {
  color: var(--link-color);
  text-decoration: none;
}

.link:hover {
  color: var(--link-color);
}

textarea {
  width: 100%;
  border: none;
}

textarea:focus {
  outline: none;
}

/* rc-slider */

.rc-slider-mark-text:last-child {
  transform: translateX(50%) !important;
  right: 0% !important;
  left: auto !important;
}

.rc-slider-dot-active {
  border-color: #00bc62;
}

.note-view {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

/*------  UI kit ------------*/
.h5 {
  /* H5 */
  font-family: OpenSans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 34px;

  /* or 142% */

  /* Dark/100 */
  color: var(--body-color);
}

.progress-lock {
  display: block;
  position: fixed;
  z-index: 2000;
  padding-top: 100px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #fff;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}

.progress-lock--hidden {
  display: none;
}

.progress-lock__inner {
  margin: auto;
  width: 320px;
}

.progress-lock__message {
  font-weight: lighter;
  font-size: 22px;
  text-align: center;
}

.view-file-cross {
  cursor: pointer;
  position: absolute;
  top: 24px;
}

@media (min-width: 576px) {
  .view-file-cross {
    right: 16px;
  }
}

@media (max-width: 575px) {
  .view-file-cross {
    left: 16px;
    top: 20px;
  }
}

.view-file-filename {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: white;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 48px;
}

.gotowebsite {
  /*
  width: 40px;
  height: 32px;
  */
  width: 30px;
  height: 24px;
  /*margin-right:24px; */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="24" viewBox="0 0 40 32" fill="none" ><rect opacity="0.5" x="0.5" y="0.5" width="39" height="31" rx="11.5" stroke="%231B1B26"/><g opacity="0.7"><path d="M16.1519 20.0911L25.118 11.125" stroke="%231B1B26" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/><path d="M25.118 20.2689V11.125H15.9741" stroke="%231B1B26" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>');
}

.itemModalField:hover .gotowebsite {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"  width="30" height="24" viewBox="0 0 40 32" fill="none" ><rect width="40" height="32" rx="12" fill="%2300BC62"/><path d="M16.1519 20.0911L25.118 11.125" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/><path d="M25.118 20.2689V11.125H15.9741" stroke="white" stroke-width="1.2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}

.date-selector .dropdown-menu {
  height: 210px;
  overflow-y: scroll;
}

.date-selector .btn-outline-secondary {
  min-width: auto;
  border: none;
  padding: 0 12px;
}

.date-selector .btn-outline-secondary:active {
  outline: none;
  box-shadow: none;
}

.date-selector .btn-outline-secondary:focus {
  outline: none;
  box-shadow: none;
}

.upgrade-button {
  width: 100%;
  margin: 0 0 14px 0;
}

@media (max-height: 625px) {
  .upgrade-button {
    display: none;
  }
}

.card-exp-csc {
  display: flex;
  gap: 0 32px;
}

@media (max-width: 576px) {
  .card-exp-csc {
    flex-wrap: wrap;
  }
}

/* --- toasts---*/

.toast-container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

@media (min-width: 576px) {
  .toast-container {
    bottom: 32px;
    right: 32px;
    left: unset;
  }
}

.toast {
  padding: 20px 22px 22px;
  background: linear-gradient(282.86deg, #00ba97 8.08%, #00bc62 68.47%);
  border-radius: 12px 12px 0 0;
  color: white;
  max-width: 35em;
}

@media (min-width: 576px) {
  .toast {
    border-radius: 12px;
    /*
    width: 450px;
    max-width: 450px;

    border-radius: 14px;

    bottom: 32px;
    right: 32px;
    left: unset;
    */
  }
}

.toast-header {
  background: unset;
  color: unset;
  justify-content: space-between;
  font-family: OpenSansBold;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 6px 0;
  padding: 0;
  border: none;
  align-items: flex-start;
}

.toast .btn-primary {
  background: white;
  color: var(--body-color);
  margin: 0 12px 0 0;
}

.toast .btn-outline-secondary {
  color: unset;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 12px 24px;
  min-width: 1px;
}

.toast .btn-outline-secondary:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.toast .btn-outline-secondary:focus {
  box-shadow: none;
}

.toast .btn-outline-secondary:not(:disabled):not(.disabled).active {
  border: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  background: none;
}

.toast-body {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 6px 2em 6px 0;
  padding: 0;
}

/* Firefox */

.custom-scroll {
  scrollbar-color: grey rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

/* chrome, safari */

.custom-scroll::-webkit-scrollbar {
  width: 18px;
  /* width of the entire scrollbar */
}

.custom-scroll::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  /* color of the tracking area */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(127, 127, 127);
  border-radius: 20px;
  border: 6px solid white;
  /*  width: 6px; */
}

.table-pane-scroll-control.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(127, 127, 127);
  border-radius: 20px;
  border: 6px solid var(--table-pane-scroll-border-color);
}

.safe_scroll_control.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgb(127, 127, 127);
  border-radius: 20px;
  /*  border: 6px solid rgba(27, 27, 38, 0.7); */
  border: 6px solid var(--safe-pane-scroll-border-color);
  ;
  /*  width: 6px; */
}

.search-path {
  font-size: 12px;
  opacity: 0.7;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 7px 0;
}

.tableFixHead {
  overflow-y: auto;
  flex-grow: 1;
  /*  min-height: 350px; */
}

.tableFixHead .table {
  position: relative;
}

.tableFixHead thead th {
  position: sticky;
  background: rgb(27, 27, 38);
  top: 0;
}

.safe-user-menu-details {
  font-size: 13px;
  opacity: 0.5;
  max-width: 17em;
  white-space: break-spaces;
}


.user-management-card {
  padding: 0;
  border-radius: "16px";
  height: "100%";
  background-color: var(--table-pane-background);
  color: var(--body-color);
}


.group {
  cursor: pointer;
  border-bottom: 1px solid lightgrey;
  padding: 12px 0 12px 12px;
}

.group:hover {
  background-color: #f8f8fb;
}

.group-safe-entry {
  display: flex;
  align-items: center;
  height: 36px;
}

.group-safe-entry:hover {
  background-color: #f8f8fb;
}

.group-safe-entry-name {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 13em;
  text-wrap: nowrap;
}


.groups-pane {
  border-radius: 25;
  border: solid 0px grey;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.no-hover:hover {
  background-color: red !important;
  color: unset !important;
}