@use './scss/std-bootstrap.scss';

@use './scss/account-dropdown.scss';
@use './scss/bank-card.scss';
@use './scss/custom-scroll.scss';
@use './scss/file.scss';
@use './scss/iam.scss';
@use './scss/item-modal-field.scss';
@use './scss/modal.scss';
@use './scss/nav.scss';
@use './scss/password.scss';
@use './scss/progress.scss';
@use './scss/safe-pane.scss';
@use './scss/share.scss';
@use './scss/table-pane.scss';
@use './scss/toast.scss';


@use './scss/theme-light.scss';
@use './scss/theme-dark.scss';
@use './scss/theme-dark2.scss';
@use './scss/theme-dark5.scss';
@use './scss/theme-darkgreen.scss';
// @import './scss/theme-darkgreen2.scss';

@font-face {
    font-family: OpenSans;
    src: url("/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OpenSansBold;
    src: url("/fonts/OpenSans-Bold.ttf");
}

::-ms-reveal {
    /* prevent ms edge to show an eye button inside uinput type=password */
    display: none;
}

html,
body,
#root,
.container {
    height: 100%;
}

* {
    font-family: OpenSans;
}

body {
    --bs-body-color: var(--body-color);
    margin: 0;
    background: var(--body-background-img);

    background-size: cover;
    background-position: center;
    color: var(--body-color);
}

.body-mask {
    height: 100%;
    width: 100%;
    position: absolute;
    background: var(--body-mask-background);
    mix-blend-mode: var(--body-mask-mix-blend-mode);
    z-index: -10;
}

.mainRow {
    flex-grow: 1;
    overflow: hidden;
    height: 100%;
}

.react-contexify__item:not(.react-contexify__item--disabled):hover>.react-contexify__item__content,
.react-contexify__item:not(.react-contexify__item--disabled):focus>.react-contexify__item__content {
    color: white;
    background: rgba(27, 27, 38, 0.86);
}

.edit .react-contexify__item:not(.react-contexify__item--disabled):hover>.react-contexify__item__content,
.edit .react-contexify__item:not(.react-contexify__item--disabled):focus>.react-contexify__item__content {
    color: black;
    background: #f4f4f7;
}

.rc-slider-mark-text:last-child {
    transform: translateX(50%) !important;
    right: 0% !important;
    left: auto !important;
}

.rc-slider-dot-active {
    border-color: var(--link-color);
}

.top_icon {
    stroke: white;
    vertical-align: middle;
    margin: 0 15px;
}

.item_icon {
    stroke: #2277e6;
    opacity: 0.5;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.img-frame {
    display: flex;
    align-items: center;
    background: white;
    flex-grow: 1;
}


*::placeholder {
    color: var(--body-color);
    opacity: 0.7;
}

.form-control::placeholder {
    color: var(--body-color);
    opacity: 0.7;
}

input::placeholder {
    color: var(--body-color);
    opacity: 0.7;
}

textarea::placeholder {
    color: var(--body-color);
    opacity: 0.7;
}


input.modalTitle::placeholder {
    color: var(--body-color);
    opacity: 0.7;
}

.react-dropdown-select-dropdown span {
    color: rgb(27, 27, 38);
}

/*------------------------------------------*/

.fixed-head-table-wrapper {
    /* also with custom scroll?*/
    overflow: hidden auto;
    position: relative;
    scroll-padding-top: 46px;
}



.fixed-head-table-wrapper th {
    position: sticky;
    z-index: 1;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--body-color70);
    background: var(--table-pane-background);
    border: none;
    top: 0;

    padding: 8px 0.75em 0 0;
}

/*
.fixed-head-table-wrapper tbody tr {
    border-bottom: 1px solid var(--table-pane-border-color);
    height: 46px;
}
*/

.fixed-head-table-wrapper tr {
    border-bottom: 1px solid var(--table-pane-border-color);
    height: 46px;
}


.fixed-head-table-wrapper tbody tr:hover {
    background: var(--table-pane-hover);
}


.fixed-head-table-wrapper td {
    border: none;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
}

/*------------------------------------*/


.wide-dialog {
    max-width: 100%;
}


@media (min-width: 768px) {
    .wide-dialog {
        max-width: min(calc(100% - 128px), 1260px);
    }
}


input.datapicker {
    margin: 4px 8px;
    padding: 8px 4px;
    border-radius: 4px;
    border: 1px gray solid;
}


.error-message {
    color: var(--danger-color);
}

.mb32 {
    margin-bottom: 32px;
}

/*
@import './scss/account-dropdown.scss';
@import './scss/bank-card.scss';
@import './scss/custom-scroll.scss';
@import './scss/file.scss';
@import './scss/iam.scss';
@import './scss/item-modal-field.scss';
@import './scss/modal.scss';
@import './scss/nav.scss';
@import './scss/password.scss';
@import './scss/progress.scss';
@import './scss/safe-pane.scss';
@import './scss/share.scss';
@import './scss/std-bootstrap.scss';
@import './scss/table-pane.scss';
@import './scss/toast.scss';
*/