.upgrade-button {
    width: 100%;
    margin: 0 0 14px 0;
}

@media (max-height: 625px) {
    .upgrade-button {
        display: none;
    }
}

.account-menu-item {
    height: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

@media (min-width: 576px) {
    .account-menu-item {
        height: 40px;
    }
}

.account-menu-item:hover {
    background: var(--account-menu-item-hover);
}

.account-menu-item svg {
    margin-right: 12px;
}