/*
.custom-scroll {
    scrollbar-color: grey rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}
*/

.custom-scroll::-webkit-scrollbar {
    width: 18px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgb(127, 127, 127);
    border-radius: 20px;
    border: 6px solid white;
}

.table-pane-scroll-control.custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgb(127, 127, 127);
    border-radius: 20px;
    border: 6px solid var(--table-pane-scroll-border-color);
}

.safe_scroll_control.custom-scroll::-webkit-scrollbar-thumb {
    background-color: rgb(127, 127, 127);
    border-radius: 20px;
    border: 6px solid var(--safe-pane-scroll-border-color);
}