.user-management-card {
    padding: 0;
    border-radius: 16px;
    height: 100%;
    background-color: var(--table-pane-background);
    color: var(--body-color);
}


.tableFixHead {
    overflow-y: auto;
    flex-grow: 1;
}

.tableFixHead .table {
    position: relative;
}

.tableFixHead thead th {
    position: sticky;
    color: rgba(27, 27, 38, 0.5);
    top: 0;
}

.group {
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    padding: 12px 0 12px 24px;
    opacity: 0.7;
}

.group:hover {
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
}

.group-safe-entry {
    display: flex;
    align-items: center;
    height: 36px;
    max-width: 354px;
}

.group-safe-entry:hover {
    background-color: var(--table-pane-hover);
}

.group-safe-entry-name {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 13em;
    text-wrap: nowrap;
}

.groups-pane {
    border-radius: 25;
    border: solid 0px grey;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


#user-pane input {
    border-radius: 12px;
    padding: 12px;
    border: 1px solid #1B1B2633;
}

#user-pane input:active {
    outline: none;
}

#user-pane input:focus {
    outline: none;
}