.search_string {
    padding: 12px 36px 12px 40px;
    height: 48px;
    /*   border-radius: 12px; */
    width: 100%;
    border: 1px solid #1B1B2633;
    color: var(--table-pane-color);
    background: var(--table-pane-background);
    border: 1px solid var(--table-pane-border-color);
}

@media (max-width: 576px) {
    .search_string {
        border-radius: 0;
    }
}

.basic-input {
    height: 48px;
    border-radius: 12px;
    padding: 0px 0px 0px 14px;
    border: 1px solid var(--table-pane-border-color);
    color: var(--body-color);
    background: var(--table-pane-background);
}

.basic-input:active {
    outline: none;
}

.basic-input:focus {
    outline: none;
}


/*
.search_string {
    padding: 0 30px 0 40px;
    height: 48px;
    border: none;
    padding-right: 2.2em;
}




*/

.search_string:active {
    outline: none;
}

.search_string:focus {
    outline: none;
}

.search_clear {
    margin-left: -1.3em;
    cursor: pointer;
}

.account-dropdown-button {
    width: 40px;
    height: 40px;
    padding: 7px 0 0 0;
    border-radius: 12px;
    backdrop-filter: blur(40px);
    overflow: hidden;
    cursor: pointer;
    flex: none;
    background: var(--account-background-color);
    fill: var(--account-fill-color);
}