.totp_circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;

    /*  background: conic-gradient(#c4c4c4 25%, #e7e7ee 0%); */
    background: conic-gradient(rgba(27, 27, 38, 0.235) 1%,
            rgba(27, 27, 38, 0.1) 0%);

    margin-right: 24px;
}

.totp_digits {
    font-size: 24px;
    color: var(--body-color);
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}


/* password generator */

.z-index-2050 {
    z-index: 2050;
}

.z-index-2040 {
    z-index: 2040;
}