.roleChanger {
    display: inline-block;
    color: var(--link-color);
    font-size: 16px;
    line-height: 24px;
    text-align: end;
    cursor: pointer;
    width: 8em;
}

.safe-user-menu-details {
    font-size: 13px;
    opacity: 0.5;
    max-width: 17em;
    white-space: break-spaces;
}