body.theme-darkgreen {
    --body-background-img: url("/img/body_background.jpg"), lightgray 50% / cover no-repeat;

    --body-color: #f1f1f1;
    --body-color70: rgba(241, 241, 241, 0.7);

    --danger-color: #ff3300;
    --warning-color: rgba(242, 97, 0, 1);
    --link-color: #00BC62;

    --body-mask-background: #00BC62;
    --body-mask-mix-blend-mode: color-burn;

    --safe-pane-background: rgba(27, 27, 38, 1);
    --safe-pane-scroll-border-color: rgba(27, 27, 38, 1);

    --table-pane-background: rgba(27, 27, 38, 0.9);
    --table-pane-scroll-border-color: #262631;
    --table-pane-color: #ffffff;
    --table-pane-border-color: #474750;
    --table-pane-hover: rgba(255, 255, 255, 0.05);
    --mobile-path-background: rgba(255, 255, 255, 0.1);


    --modal-background: rgb(27, 27, 38);
    --modal-shadow: -4px -4px 4px rgba(0, 221, 193, 0.25) inset;

    --item-modal-field-background1: rgba(27, 27, 38, 0.3);
    --item-modal-field-hover: transparent;
    --item-modal-field-border: rgba(255, 255, 255, 0.2);
    --item-modal-field-border-hover: rgba(255, 255, 255, 0.7);
    --item-modal-field-background: transparent;
    --item-modal-field-label: white;

    --totp-circle-bg: rgba(241, 241, 241, 0.1);
    --totp-circle-fg: rgba(241, 241, 241, 0.3);

    --item-modal-field-hover: rgba(255, 255, 255, 0.1);


    --edit-item-modal-field: rgb(27, 27, 38);
    --edit-item-modal-field-border: rgba(255, 255, 255, 0.2);
    --edit-item-modal-field-border-hover: rgba(255, 255, 255, 0.7);
    --edit-item-note-modal-field: rgb(27, 27, 38);

    --btn-outline-secondary: rgba(255, 255, 255, 0.2);
    --btn-outline-secondary-hover: rgba(255, 255, 255, 0.7);

    --pmodal-body-background: rgb(27, 27, 38);

    --account-menu-item-hover: black;
    --account-block-border: rgba(255, 255, 255, 0.7);

    --download-and-view-border: rgba(255, 255, 255, 0.7);

    --contexify-menu-bgColor: #000;
    --contexify-item-color: rgba(255, 255, 255, 0.7);
    --contexify-activeItem-color: #fff;
    --contexify-activeItem-bgColor: rgba(255, 255, 255, 0.2);
    --contexify-menu-shadow: 0 4px 34px #7e7e8f47;

    --safe-pane-icon-stroke: white;
    --icon-stroke: white;
    --icon-fill: white;

    --logo-color: rgba(255, 255, 255, 0.8);
    --account-fill-color: rgb(27, 27, 38);
    --account-background-color: rgba(255, 255, 255, .6);

    --inactive-search-background: var(--safe-pane-background);
    --active-search-background: var(--table-pane-background);

}